.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f5f5ff;
    padding: 50px;
    border-radius: 10px;
    height: 100vh;
    box-sizing: border-box;
  }
  
  .contact-content {
    flex: 1;
    padding:70px 20px;
  }
  
  .contact-content h2 {
    color: #7d7c9e;
  }
  
  .contact-content h1 {
    font-size: 36px;
    margin: 10px 0;
  }
  
  .contact-content p {
    font-size: 16px;
    margin: 20px 0;
  }
  
  .offer {
    display: flex;
    align-items: center;
    background-color: #e8e8ff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .offer-badge {
    background-color: #6a6aff;
    color: white;
    padding: 10px;
    border-radius: 50%;
    font-size: 18px;
    margin-right: 10px;
  }
  
  .offer-details p {
    margin: 0;
    color: #7d7c9e;
  }
  
  .offer-details h3 {
    margin: 5px 0;
    color: #6a6aff;
  }
  
  .contact-form {
    flex: 1;
    padding: 50px;
    background-color: #6a6aff;
    border-radius: 25px;
    color: white;
    margin-top: 20px;
  }
  .contact-form2 {
    flex: 1;
    padding: 100px 50px;
    background-color: #6a6aff;
    border-radius: 25px;
    color: white;
    margin-top: 20px;
  }
  
  .contact-form2 div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .contact-form div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .input-field {
    margin-bottom: 10px;
    padding: 15px;
    border: none;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px;
    outline: none;
  }
  
  .input-field::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .submit-button {
    padding: 15px;
    background-color: white;
    color: #6a6aff;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #d0d0ff;
  }
  
  @media (min-width: 768px) {
    .contact-container {
      flex-direction: row;
      align-items: stretch;
    }
  
    .contact-form {
      margin-top: 0;
    }
  }
  
  @media (max-width: 767px) {
    .contact-container {
      padding: 30px;
    }
  
    .contact-content h1 {
      font-size: 28px;
    }
  
    .contact-form {
      padding: 50px 30px;
    }
  }
  
  @media (max-width: 480px) {
    .contact-container {
      padding: 20px;
    }
  
    .contact-content h1 {
      font-size: 24px;
    }
  
    .contact-form {
      padding: 30px 20px;
    }
  
    .input-field {
      padding: 10px;
      font-size: 14px;
    }
  
    .submit-button {
      padding: 10px;
      font-size: 14px;
    }
  }
  
  .error {
    color: red;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  